@import url('https://fonts.googleapis.com/css?family=Cinzel|Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:900&display=swap');
/* .app {
  background-image: url("https://c8.alamy.com/comp/RH5DY8/stars-american-flag-national-background-pattern-vector-illustration-RH5DY8.jpg");
} */

.app {
  /* font-family: Georgia;  */
  /* font-family: 'Cinzel' */
  font-family: 'Merriweather'
}

.title {
  background: rgb(0, 0, 0) ;
  padding: 15px;
  text-align: center;
  color: white;
}
